/*CUSTOM PROPERTIES*/
 :root{
    --nav-color: #255ee9;
    --text-color: white;
    --alt-text-color: black;
    --dark-button-bg: #323232;
    --alt-main-bg-color: #f6f6f6;
    --footer-bg-color: rgb(50, 50, 50);
    --alt-item-color: #6c80c8;
}

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FLEXBOX*/
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*HEADER*/
header{
    width: 100%;
    height: 600px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}   
/*NAV*/
nav{
    width: 100%;
    height: 5rem;
    background-color: #255ee9;
    padding: 1rem;
}

/*NAVBAR*/
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*NAV ITEMS*/
.nav-item{
    width: calc(100% / 7);
    height: 2.2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item.big{
    flex-grow: 1;
    align-items: center;
}

a{
    color: black;
}

li a{
    color: white;
}
 /*LIST*/
.flex-ul{
    display: flex;
    list-style-type: none;
}
.flex-ul li{
    margin: 4rem;
}

.round-container{
    width: calc(100% / 3.5);
    height: 2.2rem;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*HERO-JUMBOTRON*/
.hero{
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 /*HERO CONTENT*/
.hero-content{
    width: 40%;
    height: 320px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h2{
    font-size: 48px;
}

p{
    font-size: 20px;
    text-align: center;
}

.hero .round-container{
    margin: 10px;
    color: black;
    font-size: 18px;
}

.black-button.round-container{
    background-color: var(--dark-button-bg);
}

.black-button.round-container a{
    color: var(--text-color);
}

/*MAIN*/
main{
    width: 100%;
}

/*MAIN SECTION*/
.main-section{
    display: flex;
    width: 100%;
    margin: auto;
    height: 600px;
}

.graybg{
    background-color: var(--alt-main-bg-color);
}

/*MAIN CONTENT*/
.main-content{
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*MAIN CONTENT COLUMNS*/
.main-content-col{
    width: calc(100% / 3);
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content-col.main-text{
    flex-wrap: wrap;
}

.main-content-col.main-text p{
    text-align: left;
    margin-top: 20px;
}

.main-content-col.main-image{
    flex-grow: 1;
}
 /*MAIN BOTTOM*/
.main-section-bottom{
    display: flex;
    width: 100%;
    margin: auto;
    height: 1000px;
}

/*MAIN BOTTOM CONTENT*/
.main-content-bottom{
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 /*MAIN CONTENT ROW*/
.main-content-row{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-row.main-image{
    width: 100%;
    height: 500px;
    text-align: center;
}

/* .main-content-row.main-text{
} */

.main-content-row .round-container{
    margin-top: 1.5rem;
    width: 200px;
    background-color: var(--alt-item-color);
    color: var(--text-color);
}


/*FOOTER*/
footer{
    width: 100%;
    height: 600px;
    background-color: var(--footer-bg-color);
}
 /*FOOTER TOP*/
.footer-top{
    display: flex;
    width: 100%;
    height: 400px;
    margin: 50px auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-foot{
    width: 70%;
    height: 100%;
    display: flex;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end; */
}

h3{
    font-size: 28px;
}

h4{
    font-size: 20px;
}

footer h3, footer h4{
    color: var(--alt-item-color);
}
 /*FOOT COLUMN*/
.foot-col{
    width: calc(100% / 7);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text-color);
}

.foot-col img{
    width: 35px;
    height: 24px;
}

.foot-col li{
    list-style-type: none;
    margin-top: 10px;
}

/* .foot-col.info-col{
   
} */

.foot-col.social-col{
    flex-grow: 1;
}
 /*FOOTER BOTTOM*/
.footer-bottom{
    display: flex;
    width: 100%;
    height: 6rem;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-top: var(--alt-item-color) 1px solid;
}

/*ICONS*/
.footer-icons i{
    margin-top: 1rem;
    margin-right: 1rem;
}
 /*ENDING OF WEBSITE*/
.ending{
    width: 60%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

.ending-item{
    width: 100px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*BOTTOM OF THE END*/
footer .round-container{
    background-color: var(--alt-item-color);
}

footer .round-container a{
    color: white;
}