/*CUSTOM PROPERTIES*/
/* :root{
    --bg-color: white;
    --primary-color: brown;
} */

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FLEXBOX*/
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*HEADER*/
header{
    width: 100%;
    height: 600px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}   
/*Nav*/
nav{
    width: 100%;
    height: 5rem;
    background-color: #255ee9;
    padding: 1rem;
}

.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: calc(100% / 7);
    height: 2.2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
}

li a{
    color: white;
}

.nav-item.big{
    flex-grow: 1;
    align-items: center;
}

.flex-ul{
    display: flex;
    list-style-type: none;
}
.flex-ul li{
    margin: 4rem;
}

.round-container{
    width: calc(100% / 3.5);
    height: 2.2rem;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /*HERO*/
.hero{
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-content{
    width: 40%;
    height: 320px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content h2{
    font-size: 48px;
}

.hero-content p{
    font-size: 24px;
    text-align: center;
}

.hero .round-container{
    margin: 10px;
    color: black;
    font-size: 18px;
}

.black-button.round-container{
    background-color: #323232;
    color: white;
}

/*CONTENT*/
/*Main*/
main{
    width: 100%;
}

/*MAIN SECTION*/
.main-section{
    display: flex;
    width: 100%;
    margin: auto;
    height: 600px;
}

.main-section.graybg{
    background-color: gray;
}

/*MAIN CONTENT*/
.main-content{
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*MAIN CONTENT COLUMNS*/
.main-content-column{
    width: calc(100% / 3);
    height: 250px;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content-column.pinkbg{
    background-color: lightpink;
}

.main-content-column.bluebg{
    background-color: blue;
    flex-grow: 1;
}

.main-content-column.greenbg{
    background-color: green;
    width: 80%;
    height: 500px;
}


/*FOOTER*/
footer{
    width: 100%;
    height: 600px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(50, 50, 50);
}

.footer-top{
    display: flex;
    width: 100%;
    height: 400px;
    margin: 50px auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-foot{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end; */
}

.foot-column{
    width: 100px;
    height: 100%;
    background-color: white;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot-column.cyanbg{
    background-color: cyan;
    border: 2px dashed white;
}

.foot-column.salmonbg{
    background-color: salmon;
    flex-grow: 1;
}

.footer-bottom{
    display: flex;
    width: 100%;
    height: 6rem;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid white;
}

.ending{
    width: 60%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
    align-self: flex-end;
}

.ending-item{
    width: 100px;
    height: 2rem;
    background-color: white;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}